[submodule "cloudconfig-writer"]
	path = cloudconfig-writer
	url = https://github.com/majidaldo/cloudconfig-writer.git
[submodule "ansible/roles/ssh_config"]
	path = ansible/roles/ssh_config
	url = https://github.com/majidaldo/ansible-role-ssh-config.git
[submodule "docker/docker-registry"]
	path = docker/docker-registry
	#url = https://github.com/docker/docker-registry.git
	url = https://github.com/docker/distribution.git
[submodule "docker/nvidia"]
	path = docker/nvidia
	url = https://github.com/majidaldo/coreos-nvidia.git
